#content{
   background-color: black;
   padding: 2em;
   border-radius: 10px;
   margin-top: 2em;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

p{
   font-variant: small-caps;
   color: white;
   font-size: 1.5em;
}