#content{
   display: flex;
   width: 100%;

}

.element{
   width: 25%;
   margin: 1em;
}

a{
   background-color: gray;
   color: rgb(41, 41, 41);
   display: block;
   padding: 1.5em;
   margin: 1em;
   border-radius: 10px;

   text-decoration: none;
}

a:hover{
   cursor: pointer;
   background-color: rgb(29, 29, 29);
   color: white;
}